body{
    background-color: rgb(79, 76, 76);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    display: block;
    text-align: center;
}
img{
    width: 40vw;

}

